.projectCard {
    position: relative;
    width: 300px;
    margin: 20px;
    text-decoration: none;
    color: #fff;
  
    &:hover .overlay {
      opacity: 1;
    }
  }
  
  .projectImage {
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: opacity 0.3s ease;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 0;
    transition: opacity 0.3s ease;
  
    .title {
      text-align: center;
      padding: 10px;
    }
    .description {
      text-align: center;
      padding: 10px;
    }
  }
