// src/components/NewsPage.module.scss
.newsListSection {
    .newsListTitle {
        text-align: center;
    }
    .newsListContainer {
        display: flex;
        flex-direction: column;
        max-width: 1000px;
        margin: 0 auto;
    }

    .newsListItem {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 20px;
        margin-bottom: 10px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;
        text-decoration: none;
    }

    .newsListContent {
        flex: 1;
        h2 {
            color: #171717 !important;
            font-size: 32px !important;
        }
    }

    .newsListImageContainer {
        max-width: 300px;
        margin-left: 20px;
    }

    .newsListImage {
        width: 100%;
        height: auto;
        transition: opacity 0.3s ease;
        opacity: 0;
        border-radius: 20px;

        &.visible {
            opacity: 1;
        }
    }

}

// src/components/NewsPage.module.scss
.newsPage {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    gap: 50px;

    @media (max-width: 768px) {
        flex-direction: column-reverse;
        align-items: center;
    }
  }
  
  .newsContent {
    max-width: 50%;
    width: 100%;
    padding-right: 20px;
    @media (max-width: 768px) {
        max-width: 80%;
    }
  }
  
  .publishDate {
    color: #777;
    font-size: 0.9em;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  
  .textContent {
    line-height: 1.6;
  }
  
  .newsImageContainer {
    max-width: 500px;
    width: 100%;
    height: auto;
  }
  
  .newsImage {
    width: 100%;
    height: auto;
    border-radius: 20px;
    // border: 2px solid #007bff;
  }
  